<div class="customers view">
    <div class="container">
        <header>
            <h3>Customers</h3>
        </header>
        <div class="row indent">
            <div class="span3">
                First Name:
                <br />
                <input data-ng-model="newCustomer.firstName" type="text" placeholder="First Name">
            </div>
            <div class="span3">
                Last Name:
                <br />
                <input data-ng-model="newCustomer.lastName" type="text" placeholder="Last Name">
            </div>
            <div class="span2">
                City:
                <br />
                <input data-ng-model="newCustomer.city" type="text" placeholder="Customer City">
            </div>
            <div class="span2">
                <button id="submitCustomer" class="btn btn-primary" style="margin-top:21px;" type="button" 
                    data-ng-disabled="!newCustomer.firstName || !newCustomer.lastName || !newCustomer.city" 
                    data-ng-click="insertCustomer()">Add Customer</button>
            </div>
        </div>
        <br /><br />
        <div>
            <div class="row cardContainer indent">
                <div class="span3 card" data-ng-repeat="customer in customers | orderBy:'lastName'">
                    <button class="btn close cardClose" data-ng-click="deleteCustomer(customer.id)">&times;</button>
                    <div class="cardHeader"><a href="#/customeredit/{{customer.id}}" class="white">{{customer.firstName + ' ' + customer.lastName}}</a></div>
                    <div class="cardBody">{{customer.address}}</div>
                    <div class="cardBody">{{customer.city}}, {{customer.state}}</div>
                    <a href="#/customerorders/{{customer.id}}" class="cardBody btn-link">{{ customer.orderCount }} Orders</a>

                </div>
            </div>
        </div>
    </div>
</div>