<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Delete {{customer.firstName}} {{customer.lastName}}?</h3>
</div>
<div class="modal-body">
    <p class="alert alert-danger">
        {{customer.firstName}} {{customer.lastName}} will be <strong>permanently</strong> removed from the application. 
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary" data-ng-click="delete({{customer.id}});dismiss();">Delete Customer</button>
</div>