<div class="customers view">
    <div class="container">
        <header>
            <h3>Customers</h3>
        </header>
        <div class="row indent">
            <div class="span12">
                <a href="#/customeredit/0">Add Customer</a>
                <br /><br />
            </div>
        </div>
        <div>
            <div class="row cardContainer indent">
                <div class="span3 card" 
                    data-ng-repeat="customer in customers | orderBy:'lastName'" 
                    data-ng-animate="{leave:'list-leave', enter:'list-enter'}">
                    <button class="btn close cardClose" data-bs-modal="'app/partials/customerDeleteModal.html'">&times;</button>
                    <div class="cardHeader"><a href="#/customeredit/{{customer.id}}" class="white">{{customer.firstName + ' ' + customer.lastName}}</a></div>
                    <div class="cardBody">
                        <div class="clearfix">
                            <div class="pull-left">
                                <img data-ng-src="/Content/Images/{{customer.gender}}.png" class="cardImage" />
                            </div>
                            <div class="pull-left cardBodyRight">
                                <div>{{customer.address}}</div>
                                <div>{{customer.city}}, {{customer.state}}</div>
                                <div><a href="#/customerorders/{{customer.id}}" class="btn-link">{{ customer.orderCount }} Orders</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
